{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card card-custom card text-white mb-3" style="background-color: #088c95">
            <div class="card-body">
                <h5 class="card-title">Recibidos <i class="fa fa-envelope"></i></h5>
                <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                <a href="" class="btn btn-outline-light">Ir a bandeja</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-custom card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Enviados  <i class="fa fa-paper-plane"></i></h5>
                <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                <a href="" class="btn btn-outline-light">Ir a bandeja</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-custom card text-white mb-3" style="background-color: #088c95">
            <div class="card-body">
                <h5 class="card-title">Tareas <i class="fa fa-tasks"></i></h5>
                <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                <a href="" class="btn btn-outline-light">Ir a bandeja</a>
            </div>
        </div>
    </div>
</div>

<!-- segunda fila -->
<div class="row">
    <div class="col-md-4">
        <div class="card card-custom card text-white  mb-3" style="background-color: #088c95">
            <div class="card-body">
                <h5 class="card-title">Contactos  <i class="fa fa-address-book"></i></h5>
                <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                <a href="" class="btn btn-outline-light">Ir a bandeja</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-custom card text-white mb-3" style="background-color: #088c95">
            <div class="card-body">
                <h5 class="card-title">Personal <i class="fa fa-user"></i></h5>
                <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                <a href="" class="btn btn-outline-light">Ir a bandeja</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-custom card text-white mb-3" style="background-color: #088c95">
            <div class="card-body">
                <h5 class="card-title">Archivos  <i class="fa fa-archive"></i></h5>
                <hr class="my-3" style="border-color: azure;"> <!-- Línea horizontal -->
                <a href="" class="btn btn-outline-light">Ir a bandeja</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
